@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Hotel Website</h1>
</div>
<div>
    <form asp-page-handler="Filter" method="post">
    <button id="FilterBtn" type="submit" disabled>Filter Rooms</button>
    
    <select id="FilterList" asp-for="Filter"> 
        <option value="">Select what to filter by</option>
        <option value="IsVacant">Vacancy</option>
        <option value="RoomType">Room Type</option>
        <option value="HasBalcony">Balcony</option>
    </select>
    <select id="VacancyFilter" asp-for="VacancyChoice" style="display: none">
        <option value="true">Is Vacant</option>
        <option value="false">Is not Vacant</option>
    </select>
    <select id="RoomTypeFilter" asp-for="RoomChoice" style="display: none">
        <option value="Single">Single bed</option>
        <option value="Double">Double bed</option>
        <option value="King">Kingsize bed</option>
        <option value="Penthouse">Penthouse</option>
    </select>
    <select id="BalconyFilter" asp-for="BalconyChoice" style="display: none">
        <option value="true">Has Balcony</option>
        <option value="false">Does not have Balcony</option>
    </select>
    </form>
</div>
<div>
    @foreach(var room in Model.Rooms)
    {
        <div class="room-container">
            <h2>Room: @room.RoomNumber</h2>
            <h2>@room.RoomType</h2>
            <div>
            @if (room.IsVacant)
            {
                <p class="green">Not currently booked</p>
            }
            else if (!room.IsVacant)
            {
                <p class="red">Currently booked by: @room.PersonWhoBooked</p>
            }
            </div>
            <a asp-page="/RoomInfo" asp-route-room="@room.RoomNumber">See this room</a>
        </div>
    }
</div>